<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="3c0a1732-4a1a-49e2-9c14-6102bd2a9528" name="https://reqres.in 2" type="rest_ex" wadlVersion="https://swagger.io/swagger2/specification" definitionUrl="https://api.swaggerhub.com/apis/emmersonbonnat/https-reqres_in/1.0" basePath="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description xsi:nil="true" id="517548f2-075f-4171-b2c2-16acf4bb4779"/><con:settings id="306065e0-04d3-4737-86e1-fc2e63343294"><con:setting id="3c0a1732-4a1a-49e2-9c14-6102bd2a9528fileName">https%3A%2F%2Freqres.in-2</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://api.swaggerhub.com</con:endpoint></con:endpoints></con:interface>