<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="340bb332-8891-4bc1-b598-1f647dee32c7" name="https://reqres.in 1" type="rest_ex" wadlVersion="https://swagger.io/swagger2/specification" definitionUrl="https://api.swaggerhub.com/apis/emmersonbonnat/https-reqres_in/1.0" basePath="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description xsi:nil="true" id="849ba42a-3980-4e78-8ba2-9c64d598dceb"/><con:settings id="d9f4ba5d-1b57-4a8a-98b6-868029fac7ce"><con:setting id="340bb332-8891-4bc1-b598-1f647dee32c7fileName">https%3A%2F%2Freqres.in-1</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://api.swaggerhub.com</con:endpoint></con:endpoints></con:interface>