<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="da37269c-fe49-4cf9-9801-e83d37f421d8" name="https://reqres.in 4" type="rest_ex" wadlVersion="https://swagger.io/swagger2/specification" definitionUrl="https://api.swaggerhub.com/apis/emmersonbonnat/https-reqres_in/1.0" basePath="" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:description xsi:nil="true" id="d66c6d5e-05d0-4a74-931f-98a6a7321711"/><con:settings id="cd374c0f-961c-4f5d-91b7-d5656fea8ed1"><con:setting id="da37269c-fe49-4cf9-9801-e83d37f421d8fileName">https%3A%2F%2Freqres.in-4</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://reqres.in/</con:endpoint></con:endpoints></con:interface>