<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="7acb2143-492f-488e-8d15-34a67589e9b5" name="https://reqres.in 5" type="rest_ex" wadlVersion="https://swagger.io/swagger2/specification" definitionUrl="https://api.swaggerhub.com/apis/emmersonbonnat/https-reqres_in/1.0" basePath="" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:description xsi:nil="true" id="74182ef6-756e-467b-9f48-fda1fa0b29c3"/><con:settings id="d416b06a-ac18-43c6-bbb0-500dbbeee3fb"><con:setting id="7acb2143-492f-488e-8d15-34a67589e9b5fileName">https%3A%2F%2Freqres.in-5</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://reqres.in/</con:endpoint></con:endpoints></con:interface>